/******************
 * LAYOUT 1
 ******************/

$headerHeight: 50px;
$footerHeight: 40px;
$sidebarWidth: 150px;

// both should be the same value in `breadcrumbs.scss`
$breadcrumbsHeight: 50px;
$navBarHeight: 50px;

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $headerHeight;
  overflow: hidden;

  background: #167C38;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $footerHeight;
  overflow: hidden;

  background: #D9D5D5;
}

.middle {
  position: absolute;
  top: $headerHeight;
  bottom: $footerHeight;
  left: 0px;
  right: 0px;
  overflow: auto;

  background: red;
}

.sidebarOne {
  position: fixed;
  float: left;
  width: $sidebarWidth;

  background: #BDFA4F;
}

.contentOne {
  margin-left: $sidebarWidth;
  overflow: auto;

  background: #65B9FF;
}

/******************
 * LAYOUT 2
 ******************/

$sidebarTwoWidth: 250px;
$sidebarHeaderHeight: 200px;
$sidebarFooterHeight: 50px;
$sidebarItemHeight: 40px;

$sidebarColorDark: #212328;
$sidebarColorLight: #2D3037;
$itemTextColor: #80807e;
$itemTextColorActive: white;
$itemBgColorActive: #16171B;

.contentTwo {
  // position: absolute;
  margin-left: $sidebarTwoWidth;
  overflow: auto;
  top: 0px;
  // left: 0px;

  // background: #65B9FF;
}

.sidebarTwo {
  position: fixed;
  float: left;
  width: $sidebarTwoWidth;
  top: 0px;
  left: 0px;
  height: 100%;

  background: $sidebarColorDark;
}

.sidebarHeader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $sidebarHeaderHeight;
  overflow: hidden;

  background: $sidebarColorLight;
}

.sidebarContent {
  position: absolute;
  top: $sidebarHeaderHeight;
  bottom: $sidebarFooterHeight;
  left: 0px;
  right: 0px;

  // for some reason, there was extra margin at top, bottom
  margin: 0px;

  // unordered list
  list-style-type: none;
  padding: 0px;

  font-family: Inconsolata;
  background: $sidebarColorDark;
}

.sidebarContent li a {
  display: block;
  height: $sidebarItemHeight;
  color: $itemTextColor;
  text-decoration: none;
  line-height: $sidebarItemHeight;
  padding-left: 25px;
}

.sidebarContent li a:not(.breadcrumb-active) {
  font-weight: bold;
}

.sidebarContent li a.breadcrumb-active {
  font-weight: bold;
  color: $itemTextColorActive;
  background: $itemBgColorActive;
}

.sidebarFooter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $sidebarFooterHeight;
  overflow: hidden;

  background: $sidebarColorLight;
}

// ..........................................

.locales {
  list-style: none;
}

.locales li {
  display: inline;
}

/*
 **********************
 LayoutBootstrap
 **********************
 */

@media screen and (min-width: 768px) {
  .contentBoot {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .contentBoot {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .contentBoot {
    width: 1170px;
  }
}

.contentBoot {
  top: $navBarHeight;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;

  margin-left: auto;
  margin-right: auto;
  padding: 15px 0px 0px 15px;

  background: #eeeeee;

  &.topOffset {
    top: $navBarHeight + $breadcrumbsHeight;
  }
}
