{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "expect": false,
    "jest": false,
    "document": false,
    "window": false,
    "Headers": false,
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
