$introTextColor: #5f5555;

.image-profile-pic {
  height: 200px;
  border-radius: 50%;

  &.align-center {
    display: block;
    margin: auto;
  }
}

.row-custom {
  text-align: center;
}

.intro-text {
  width: 300px;
  margin: auto;
  color: $introTextColor;
}
