.capstone-container {
  padding: 15px;
  height: 100%;
  width: 100%;
}

.capstone-left {
  width: 450px;
  // background: red;
  float: left;
  margin-right: 50px;
}

.capstone-right {
  width: 420px;
  // background: blue;
  float: left;
}
